In [1]:
import pandas as pd 
from sqlite3 import connect

conn = connect("postprocessed_tweet.db")
df = pd.read_sql('SELECT * FROM tweet_post',conn)
df.head()

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
0,disaat semua cowok berusaha melacak perhatian ...,1,1,1,0,0,0,0,0,1,1,0,0
1,siapa yang telat ngasih tau elu edan sarap gue...,0,1,0,0,0,0,0,0,0,0,0,0
2,41 Kadang aku berfikir kenapa aku tetap percay...,0,0,0,0,0,0,0,0,0,0,0,0
3,AKU ITU AKU KU TAU MATAMU SIPIT TAPI DILIAT DA...,0,0,0,0,0,0,0,0,0,0,0,0
4,Kaum cebong kapir udah keliatan dongoknya dari...,1,1,0,1,1,0,0,0,0,0,1,0

In [2]:
df_abusive = pd.read_csv("abusive.csv")
df_abusive.head()

   ABUSIVE
0     alay
1    ampas
2     buta
3  keparat
4   anjing

In [3]:
abusive = df_abusive['ABUSIVE'].to_list()
tweet = df["Tweet"].to_list()

In [6]:
countAbuseList = []
countAbuse = 0
start_index = 0

tweet_join = ' '.join(tweet)

for l in range(len(abusive)):
    for i in range(len(tweet)):
        j = tweet_join.find(abusive[l], start_index)
        if(j!=-1):
            start_index = j+1
            countAbuse += 1
    l += 1
    countAbuseList.append(countAbuse)
    countAbuse = 0
    start_index = 0

df_abusive['COUNTER'] = countAbuseList
df_abusive.head()
df_abusive.to_csv('abuse_counted.csv')

In [ ]:
quoteList = ['let,let,lit,lot','lot,let','sandy,sander']
finding = ['let','lot','sand']
countfind = []
count = 0
start_index = 0

quote_join = ' '.join(quoteList)

for l in range(len(finding)):
    for i in range(len(quote_join)):
        j = quote_join.find(finding[l], start_index)
        if(j!=-1):
            start_index = j+1
            count += 1
    l += 1
    countfind.append(count)
    count = 0
    start_index = 0

print(countfind)

In [ ]:
countLet = 0
quote = 'let it be, let it be, let it be'
finder = 'let'
start_index = 0

for i in range(len(quote)):
    j = quote.find(finder, start_index)
    if(j!=-1):
        start_index = j+1
        countLet += 1
        
print(countLet)

In [ ]:
import re
s = 'i really mean it'
for words in ['let','let','lot','sandy','sander']:
    mount = re.search(r'\b' + words + r'\b', s)
    print(mount)
'''    if re.search(r'\b' + words + r'\b', s):
        print('{0} found'.format(words)) '''